.userList {
  li {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;

    div {
      &.id {
        flex: 0 0;
      }

      &.name {
        flex: 1 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &.role {
        flex: 0 0;
      }

      &.trash {
        flex: 0 0;
      }
    }
  }
}
