table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}


.table h3 {
    text-align: center;
}

h3 span {
    border-bottom: 5px solid #16a2e0;
}


.table-responsive {
    border: none;
}

table tr {
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: 900;
    color: #333;
    background-color: #16a2e0;
}

/* Zebra striping */
/*
tbody tr:nth-of-type(odd) {
    background: #69c3eb;
}
*/

@media screen and (max-width: 767px) {
    
    table {
        border: 0;
    }
    
    table caption {
        display: inline-block;
        margin-left: 25px;
        margin-right: 25px;
        font-size: 1.3em;
        padding-bottom: 8px;
        border-bottom: 5px solid #16a2e0;
    }
    
    caption span {
        border-bottom: none;
        padding-bottom: none;
    }
    
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    
    table tr {
        display: block;
        margin-bottom: .625em;
        border-bottom: 0;
    }
    
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
        border-top: 0 !important;
    }
    
    table td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-family: Roboto,Helvetica,Arial,sans-serif;
        font-weight: 900;
        color: #333;
    }
    
    table td:last-child {
        border-bottom: 0;
    }
} 
